<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-GB">
  <head>
    <title>Comparing Manual and Automatic UMRs for Czech and Latin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="copyright" content="Copyright &#169; 2005-2010 W3C (MIT, ERCIM, Keio)">
    <link rel="stylesheet" href="styles/slidy.css" type="text/css">
    <link rel="stylesheet" href="styles/orange.css" type="text/css">
    <script src="scripts/slidy.js" charset="utf-8" type="text/javascript"></script>
  </head>
  <body style="single_style">

    <!-- ====================================================================== -->

    <div class="background wf"><table class="beamer" width="98%"><tr><td nowrap=1>Comparing Manual and Automatic UMRs for Czech and Latin<td width="100%" class="middle">.&nbsp;.<td align="right" nowrap=1>DMR 2025 Prague</table>
    </div>


    <div class="slide cover">
      <table class="beamer"><tr><td style="color:white">DMR 2025 Prague</table>

      <p class="skip">
      <h2>Comparing Manual and Automatic UMRs for Czech and Latin</h2>
      <h3>Jan Štěpánek</h3>
      <h3>Daniel Zeman</h3>
      <h3>Markéta Lopatková</h3>
      <h3>Federica Gamba</h3>
      <h3>Hana Hledíková</h3>

      <div class="titlefooter">
        <table  style="color:black;text-align:left;font-size:70%">
          <tr><td width="15%"><img src="img/UK-logo-square-EN.svg">
              <td width="10%"><img src="img/logo_ufal.svg">
              <td style="padding-left:6em;">
                Charles University<br>
                Faculty of Mathematics and Physics<br>
                Institute of Formal and Applied Linguistics
              <td style="font-size:50%"><img src="img/by-nc-sa.svg"><br>unless otherwise stated
      </table></div>
    </div>

    <!-- ====================================================================== -->

    <div class="slide wf">
      <h1>Motivation</h1>

      <h2>Annotation from scratch</h2>
      <ul class="incremental">
        <li>Time consuming
        <li>Expertise and training needed
      </ul>
    </div>

    <!-- ====================================================================== -->

    <div class="slide wf">
      <h1>Motivation (2)</h1>

      <h2>Existing corpora</h2>
      <ul class="incremental">
        <li>Rich annotation already there
        <li>Automatic conversion
        <li style="color:grey">Expertise and training still needed
        <li>Czech (<a href="http://hdl.handle.net/11234/1-5813" title="Prague Dependency Treebank &ndash; Consolidated">PDT-C</a>) and Latin (<a href="https://itreebank.marginalia.it/" title="Latin Dependency Treebank">LDT</a>)
        <li>Same annotation scenario → same conversion procedure
        <li>Comparison with manually annotated data
      </ul>
    </div>

    <!-- ====================================================================== -->

    <div class="slide wf">
      <h1>Uniform Meaning Representation</h1>
      <div style="position:absolute;right:8em;top:6em;z-axis:10000"><img src="img/umr_english.png"></div>
      <pre><span class="comment">################################################################################
# meta-info :: sent_id = u_tree-cs-s1-root
# :: snt1</span>
<span class="label">Index:</span> 1       2    3  4     5  6   7     8
<span class="label">Words:</span> Lindsay left in order to eat lunch .

<span class="comment"># sentence level graph:</span>
(<span class="var">s1l</span> / leave-02
    <span class="label">:ARG0</span> (<span class="var">s1p</span> / person
        <span class="label">:name</span> (<span class="var">s1n</span> / name <span class="label">:op1</span> <span class="string">"Lindsay"</span>))
    <span class="label">:aspect</span> <span class="keyword">performance</span>
    <span class="label">:purpose</span> (<span class="var">s1e</span> / eat-01
        <span class="label">:ARG0</span> <span class="var">s1p</span>
        <span class="label">:ARG1</span> (<span class="var">s1l2</span> / lunch)
        <span class="label">:aspect</span> <span class="keyword">performance</span>))

<span class="comment"># alignment:</span>
<span class="var">s1l</span>: 2-2
<span class="var">s1p</span>: 1-1
<span class="var">s1n</span>: 0-0
<span class="var">s1e</span>: 6-6
<span class="var">s1l2</span>: 7-7

<span class="comment"># document level annotation:</span>
(<span class="var">s1s0</span> / sentence
    <span class="label">:temporal</span> ((document-creation-time <span class="label">:before</span> <span class="var">s1l</span>)
            (<span class="var">s1l</span> <span class="label">:after</span> <span class="var">s1e</span>))
    <span class="label">:modal</span> ((root <span class="label">:modal</span> author)
            (author <span class="label">:full-affirmative</span> <span class="var">s1l</span>)
            (author <span class="label">:full-negative</span> <span class="var">s1e</span>)))</pre>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
      <h1>Prague Dependency Treebank</h1>
      <p><img src="img/pdt-czech.svg"><img src="img/pdt-czech-a.svg"></p>
      <table class="align-top" style="font-size:35%"><tr><td><?htmlize czech-pdt.t.xml>
      <td><?htmlize czech-pdt.a.xml>
      <td><?htmlize czech-pdt.m.xml>
      <td><?htmlize czech-pdt.w.xml>
      </table>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
      <h1>The Differences</h1>
      <table class="align-top"><tr><th>UMR<th>PDT
            <tr class="incremental"><td class="non-incremental"><ul>
                  <li>represents meaning
                  <li>encodes the frame-based predicate-argument structure of all eventive concepts
                  <li>includes aspectual information
                  <li>semantic relations crossing sentence boundaries: coreference, temporal chains, epistemic modality
                </ul>
                <td class="non-incremental"><ul>
                    <li>represents linguistically structured meaning (vs. situational meaning)
                    <li>predicate-argument structure (valency) and dependency relations
                    <li>topic-focus articulation
                    <li>coreference
                  </ul>
      </table>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
      <h1>Automatic (Partial) Conversion</h1>
      <ul>
        <li>Based on the tectogrammatical structure
        <li>Structural transformations: coreference, coordination, relative clauses, control or raising verbs
        <li>Node labels (<tt>t_lemma</tt> → <tt>concept</tt>)
        <li>Edge labelling (valency lexicon → PropBank, default mapping)
        <li>Selected attributes (<tt>aspect, degree, polarity, quant, refer-number, refer-person</tt>)
        <li>Node alignment
      </ul>
      <h2>Ignored (so far)</h2>
      <ul>
        <li>Attributes <tt>wiki, modal-strength, quote, <span style="color:green">mode, polite</span></tt>
        <li>Most of the document-level annotation (besides coreference)
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
      <h1>Data Selected for the Experiment</h1>
      <table class="align-top border"><tr><th>Czech<th>Latin
            <tr><td><ul><li>News: 25 sentences
                    <li>Spontaneous dialogues: 50 sentences
                      <li>Translated WSJ texts: 16 sentences</ul>
                <p>+ 21 sentences from the first two Czech corpora
                  were annotated manually by two annotators to
                  estimate the <span title="Inter-Annotator
                  Agreement">IAA</span>.
              <td><ul><li><i>De coniuratione Catilinae</i> by Sallust: 50 sentences</ul>
      </table>
      <p class="skip">👉 Download the <a href="http://hdl.handle.net/11234/1-5951">data!</a> 👈
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
      <h1>Metrics for Graph Comparison</h1>
      <ol type="1">
        <li>Match nodes <span class="incremental" style="font-weight:bold">← Problematic</span>
        <li>Compare triples:<br>
          <tt>(node, relation, node)</tt><br>
          <tt>(node, attribute, value)</tt>
      </ol>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
        <h1>Metrics for Graph Comparison</h1>
        <ol type="1">
            <li>Match nodes <b>← Problematic</b>
            <li>Compare triples:<br>
          <tt>(node, relation, node)</tt><br>
          <tt>(node, attribute, value)</tt>
        </ol>
        <p>Problems:
            <ul>
                <li>Different number of nodes</li>
                <li class="incremental">Different mapping (nodes to words)</li>
                <li class="incremental">Different names of variables (typically <tt class="non-incremental">s2v1</tt> versus <tt class="non-incremental">s2v2</tt>)
            </ul>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
      <h1>Metrics for Graph Comparison (2)</h1>
      <h2>Existing Metrics</h2>
      <table class="align-top border"><tr><th>smatch<th>AnCast</tr>
          <td><ul><li>Standard for AMR</li>
              <li>The optimal mapping maximises the F<sub>1</sub> of the triples
          </td><td><ul><li>Proposed for UMR</li>
              <li>Can use the word alignment (continuous)</li>
              <li>Concept similarity (naive)</li>
          </td></table>
      <p>Both map as many nodes as possible: <span style="color:#a0a0a0;text-shadow:grey 1pt 3pt 6pt">blurs</span> interpretation
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
      <h1>Metrics for Graph Comparison (3)</h1>
      <h2>A New Metric <i>juːmæʧ</i></h2>
      <ul>
          <li>Maps nodes primarily by word alignment</li>
          <li>For nodes without alignment, requires concept identity</li>
      </ul>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
        <h1>Quantitative Comparison</h1>
        <h2>UMR Node mapping</h2>
        <table class="bg align-top">
            <tr>
                <th>Corpus<th>Manual<th>Auto<th>Recall<th>Precision<th>F<sub>1</sub>
            </tr>
            <tr><td>PDT<td class="right">375<td class="right">349<td class="right">76%<td class="right">81%<td class="right bold">78%
            <tr><td>PDTSC<td class="right">442<td class="right">305<td class="right">53%<td class="right">77%<td class="right bold">63%
            <tr><td>PCEDT<td class="right">307<td class="right">327<td class="right">79%<td class="right">75%<td class="right">77%
            <tr class="dark"><td>Total<td class="right">1124<td class="right">981<td class="right">68%<td class="right">78%<td class="right">72%
            <tr><td>Latin<td class="right">773<td class="right">865<td class="right">81%<td class="right">73%<td class="right">77%
        </table>

        <h4>IAA (PDT+PDTSC 21 sentences)</h4>
        <table class="bg"><th>A1<th>A2<th>Recall<th>Precision<th>F<sub>1</sub>
            <tr><td class="right">228<td class="right">221<td class="right">94%<td class="right">97%<td class="right">96%
        </table>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
        <h1>Quantitative Comparison (2)</h1>
        <h2>Concept and Relation Comparison</h2>
        <h3>Unmapped nodes are ignored</h3>
        <table class="bg align-top">
            <tr>
                <th>Corpus<th>Manual Triples<th>Auto Triples<th>Recall<th>Precision<th>F<sub>1</sub>
            </tr>
            <tr><td>PDT<td class="right">844<td class="right">819<td class="right">59%<td class="right">61%<td class="right bold">60%
            <tr><td>PDTSC<td class="right">622<td class="right">633<td class="right">57%<td class="right">56%<td class="right">56%
            <tr><td>PCEDT<td class="right">714<td class="right">588<td class="right">48%<td class="right">58%<td class="right bold">53%
            <tr class="dark"><td>Total<td class="right">2180<td class="right">2040<td class="right">55%<td class="right">59%<td class="right">57%
            <tr><td>Latin<td class="right">1820<td class="right">1923<td class="right">64%<td class="right">61%<td class="right">62%
        </table>

        <h4>IAA (PDT+PDTSC 21 sentences)</h4>
        <table class="bg"><th>A1<th>A2<th>Recall<th>Precision<th>F<sub>1</sub>
            <tr><td class="right">633<td class="right">644<td class="right">94%<td class="right">92%<td class="right">93%
        </table>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
        <h1>Quantitative Comparison (3)</h1>
        <h2>Concept and Relation Comparison</h2>
        <h3>Unmapped nodes are considered incorrect</h3>
        <table class="bg align-top">
            <tr>
                <th>Corpus<th>Manual Triples<th>Auto Triples<th>Recall<th>Precision<th>F<sub>1</sub> = <i>juːmæʧ</i><th>smatch
            </tr>
            <tr><td>PDT<td class="right">1082<td class="right">916<td class="right">46%<td class="right">55%<td class="right bold">50%<td class="right">49%
            <tr><td>PDTSC<td class="right">1318<td class="right">770<td class="right">27%<td class="right">46%<td class="right bold">34%<td class="right">37%
            <tr><td>PCEDT<td class="right">916<td class="right">757<td class="right">37%<td class="right">45%<td class="right">41%<td class="right">51%
            <tr class="dark"><td>Total<td class="right">3316<td class="right">2443<td class="right">36%<td class="right">49%<td class="right">42%<td class="right">45%
            <tr><td>Latin<td class="right">2174<td class="right">2367<td class="right">54%<td class="right">49%<td class="right">51%<td class="right">58%
        </table>

        <h4>IAA (PDT+PDTSC 21 sentences)</h4>
        <table class="bg"><th>A1<th>A2<th>Recall<th>Precision<th>F<sub>1</sub> = <i>juːmæʧ</i>
            <tr><td class="right">663<td class="right">659<td class="right">90%<td class="right">90%<td class="right">90%
        </table>
    </div>

    <!-- ====================================================================== -->
    <div class="slide wf">
        <h1>Analysis of the Differences</h1>
        <ul>
            <li>UMR allows for several possible annotations to be correct</li>
            <li>Examples of individual phenomena shown in the paper (abstract predicates, event–entity distinction, abstract entities)</li>
        </ul>
    </div>

    <!-- ====================================================================== -->

    <div class="slide wf">
        <h1>Conclusion</h1>
        <ul class="incremental">
            <li>Comparison: manually annotated Czech and Latin UMR data vs. results of automatic conversion from existing tectogrammatical annotation</li>
            <li>Low scores, but together with a new metric show areas of possible improvements</li>
            <li>Base for further manual annotation</li>
            <li>UMR: Multiple valid representations with varying degrees of granularity
        </ul>
    </div>

    <!-- ====================================================================== -->
    <div class="slide center wf">
      <h1>Thank you</h1>
      <p class="skip">
          <tt><a href="https://ufallab.ms.mff.cuni.cz/~stepanek/25dmr-slides">https://ufallab.ms.mff.cuni.cz/~stepanek/25dmr-slides</a></tt>
    </div>

    <!-- ====================================================================== -->

    <div class="slide wf">
        <h1>Acknowledgements</h1>
        <ul class="smaller" >
            <li>Slides based on <a href="https://www.w3.org/Talks/Tools/Slidy2">HTML Slidy</a> by <a href="https://www.w3.org/">W3C</a></li>
            <li>The work described herein has been supported by
                the following grants:
                <ul><li>Czech Science Foundation, Language Understanding: from Syntax to Discourse (Project No. 20-16819X)</li>
                    <li>Ministry of Education, Youth, and Sports of the Czech Republic, LINDAT/CLARIAH-CZ (Project No. LM2023062)</li>
                    <li>Charles University, GAUK project No. 104924</li>
                    <li>Charles University, SVV project No. 260 821</li>
                </ul>
                <li>The project has been using data and tools provided by the <a href="https://lindat.cz">LINDAT/CLARIAH-CZ Research Infrastructure</a>, supported by the Ministry of Education, Youth and Sports of the Czech Republic (Project No. LM2023062)
        </ul>
    </div>
</body></html>

<!--
    <div class="slide wf">
      <h1></h1>
      <p>
    </div>

    <!-- ====================================================================== -->

<!-- Local Variables: -->
<!-- auto-fill-function: nil-->
<!-- End: -->
